

body, h1, label, select, input, textarea, button, fieldset, legend {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}


body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcdh7v0hxD_nUJE06i-2pp7MpBmx1nnBiw9g&s');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100px;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

input[type="text"], input[type="email"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

textarea {
    resize: vertical;
}

fieldset {
    margin-bottom: 20px;
    border: none;
    padding: 0;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.checkbox-group, .radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.checkbox-group div, .radio-group div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #0056b3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004494;
}

small {
    display: block;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #666;
    font-size: 0.875em;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.hidden {
    display: none;
}

.error-message {
    color: red;
    font-size: 0.875em;
}

.skip-link {
    position: absolute;
    left: -999px;
    top: -999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    
}

.skip-link:focus {
    left: 10px;
    top: 10px;
    width: auto;
    height: auto;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;
    z-index: 1000;
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none; 
    box-shadow: 0 0 0 3px #0056b3; 
}
